<template>
  <div class="PropagationComplete">
    <div class="row form-area">
      <div class="mainbox-modal">
        <div class="panel panel-info">
          <div class="panel-body">
            <p class="title-tree">Platba dokončena</p>

            <ul class="Orders">
              <li class="Orders__item" v-for="(item, i) in regions" :key="i">
                <p>Typ</p>
                <p>{{ item.type }}. Pozice - Homepage</p>
                <p>Datum</p>
                <p>{{ parseDates(item.dates) }}</p>
                <p>Zacílení</p>
                <p>{{ item.regions }}</p>
              </li>

              <div class="Orders__price">
                <p>Cena</p>
                <p>{{ totalPrice }} Kč</p>
              </div>
            </ul>

          </div>
        </div>
      </div>
    </div>

    <div class="PropagationComplete__footer row">
      <div class="text-center">
        <p>Faktura bude odeslána na Vaši emailovou adresu.</p>
        <button type="submit" class="btn btn-primary" @click="$emit('next')">
          Potvrdit
        </button>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    props: ['event', 'propsRegions'],
    data () {
      return {
        totalPrice: 0,
        regions: []
      }
    },
    created () {
      const regions = []
      const collection = _.groupBy(this.propsRegions, (item) => {
        this.totalPrice += item.price
        return item.type + item.dates.join('|')
      })

      for (let [key, value] of Object.entries(collection)) {
        regions.push({
          ..._.first(value),
          regions: value.map(i => i.region)
            .join(', ')
            .replace(' kraj', '')
            .replace('Kraj ', '')
        })
      }

      this.regions = regions
    },
    methods: {
      parseDates (dates) {
        if (dates.length === 0) return ''

        let fullDate = []
        const date = moment(_.first(dates))

        dates.forEach((d) => {
          fullDate.push(moment(d).date())
        })

        return fullDate.join('., ') + date.format('.M.YYYY')
      }
    }
  }
</script>

<style lang="stylus">
  .PropagationComplete
    padding 10px 40px
    &__footer
      p
        color #999
        font-weight 500
        margin-bottom 18px
    .title-tree
      text-align center
      font-weight 700
      color: #757575;
      margin-top: 40px
      margin-bottom: 30px
      font-size 16px
    .Orders
      color #c1047c
      padding 0
      text-align center
      list-style none
      font-weight 700
      p
        margin-bottom 8px
      &__item
        margin-bottom 20px
      &__price
        margin-top 25px
        margin-bottom 40px
</style>
