<template>
  <div class="PropagationPlacement">
    <div class="Position col-sm-5">
      <h3 class="Position__title">1. Pozice</h3>
      <ul class="Position__list">
        <li
          v-for="(item, i) in regionsType1"
          :key="i"
          :class="['PositionItem', { 'PositionItem--selected': isSelected(item) }]"
          @click="onSelect($event, item)"
        >
          <div class="PositionItem__side PositionItem__side--left">
            <h5 class="PositionItem__title">{{ item.region }}</h5>
            <p class="PositionItem__information">
              <span class="PositionItem__calendar glyphicon glyphicon-calendar" @click="openCalendar($event, item)"></span>
              {{ parseDates(item.dates) }}
            </p>
          </div>
          <div class="PositionItem__side PositionItem__side--right">
            <span class="PositionItem__price-icon">
              <img v-if="isSelected(item)" src="/img/coins_white.svg" alt="Coins" />
              <img v-else src="/img/coins.svg" alt="Coins" />
            </span>
            <span class="PositionItem__price">1.300,- Kč</span>
          </div>
        </li>
      </ul>
    </div>

    <div class="Position col-sm-5">
      <h3 class="Position__title">2-4. Pozice</h3>
      <ul class="Position__list">
        <li
          v-for="(item, i) in regionsType2"
          :key="i"
          :class="['PositionItem', { 'PositionItem--selected': isSelected(item) }]"
          @click="onSelect($event, item)"
        >
          <div class="PositionItem__side PositionItem__side--left">
            <h5 class="PositionItem__title">{{ item.region }}</h5>
            <p class="PositionItem__information">
              <span class="PositionItem__calendar glyphicon glyphicon-calendar" @click="openCalendar($event, item)"></span>
              {{ parseDates(item.dates) }}
            </p>
          </div>
          <div class="PositionItem__side PositionItem__side--right">
            <span class="PositionItem__price-icon">
              <img v-if="isSelected(item)" src="/img/coins_white.svg" alt="Coins" />
              <img v-else src="/img/coins.svg" alt="Coins" />
            </span>
            <span class="PositionItem__price">1.000,- Kč</span>
          </div>
        </li>
      </ul>
    </div>

    <div class="col-sm-2">
      <PlacementPreview :event="event"></PlacementPreview>
    </div>

    <div class="clearfix"></div>

    <div class="PropagationPlacement__footer row">
      <h2 class="PropagationPlacement__footer-price">{{ totalPrice }},- Kč</h2>
      <h6 class="PropagationPlacement__footer-price-title">CENA S DPH</h6>

      <div class="text-center">
        <button type="submit" class="btn btn-primary" @click="$emit('next', selected)">
          Zaplatit
        </button>
      </div>
    </div>

    <CalendarSmall
      v-if="calendarSelected"
      :selected="calendarSelected"
      :month="month"
      :reservedRegions="reservedRegions"
      @input="updateDates"
      v-on-clickaway="onAway"
    />
  </div>
</template>

<script>
  import { mixin as clickaway } from 'vue-clickaway';
  import CalendarSmall from './Placement/CalendarSmall.vue'
  import PlacementPreview from './Placement/Preview.vue'

  export default {
    mixins: [ clickaway ],
    components: {
      CalendarSmall,
      PlacementPreview
    },
    props: ['event', 'propsRegions', 'reservedRegions', 'month'],
    data () {
      return {
        selected: [],
        calendarSelected: null,
        regionsType1: _.cloneDeep(this.propsRegions)
          .map((item) => {
            item.type = 1
            item.price = 1300
            item.dates = item.dates.filter((date) => date.typeOneAvailable)
              .map(({date}) => date)
              .sort()

            return item
          }),
        regionsType2: _.cloneDeep(this.propsRegions)
          .map((item) => {
            item.type = 2
            item.price = 1000
            item.dates = item.dates.filter((date) => date.typeTwoAvailable)
              .map(({date}) => date)
              .sort()

            return item
          })
      }
    },
    computed: {
      totalPrice () {
        let price = 0
        this.selected.forEach((item) => {
          price += item.price
        })

        return price
      }
    },
    methods: {
      async openCalendar (e, item) {
        await this.$nextTick()
        if (this.calendarSelected === item) {
          return this.calendarSelected = null
        }
        this.calendarSelected = item;
        await this.$nextTick()

        const offset = $('.PropagationPlacement').offset()
        $('.PropagationPlacementCalendar .Calendar').css({
          left: $(e.target).offset().left - offset.left - 33,
          top: $(e.target).offset().top - offset.top + 20
        })
      },
      onSelect (e, item) {
        if ($(e.target).hasClass('glyphicon-calendar')) {
          return
        }

        const index = this.selected.indexOf(item)
        if (index > -1) {
          this.selected.splice(index, 1)
        } else {
          this.selected.push(item)
        }
      },
      // getSelectedItem(item) {
      //   const index = this.selected.indexOf(item)

      //   return this.selected[index]
      // },
      isSelected (item) {
        return this.selected.indexOf(item) > -1
      },
      updateDates (dates) {
        this.calendarSelected.dates = dates.sort()
      },
      parseDates (dates) {
        if (dates.length === 0) return ''

        let fullDate = []
        const date = moment(_.first(dates))

        dates.forEach((d) => {
          fullDate.push(moment(d).date())
        })

        return fullDate.join('., ') + date.format('.M.YYYY')
      },
      onAway (e) {
        // console.log('e', e)
        this.calendarSelected = null
      }
    }
  }
</script>

<style lang="stylus">
  .PropagationPlacement
    position relative
    &__footer
      text-align center
      color #c1047c
      margin-top 30px
      margin-bottom 25px
      &-price
        font-weight bold
        &-title
          font-weight bold
          font-size 12px
          margin-bottom 25px
    .btn-primary
      margin-top 20px
    .Position
      padding 0
      padding-right 12px
      &__title
        text-align center
        font-weight 600
        margin-bottom 30px
        color #585858
      &__list
        margin 0
        padding 0
        list-style none
      &Item
        background-color #f1f1f1
        border-left 4px solid #c1047c
        padding 6px 12px 6px 15px
        font-size 12px
        display: flex;
        align-items: center;
        justify-content: space-between;
        color #444
        cursor pointer
        &--selected
          color white
          background #c1047c
        &__title
          text-transform uppercase
          margin-bottom 3px
          font-size 12px
          margin-top 0
          font-weight: 600;
        &__information
          margin-bottom 0
        &__calendar
          font-size 10px
          position: relative;
          top: 0px;
          opacity: 0.6
        &__price
          font-weight: 600;
          &-icon img
            height: 9px;
            position: relative;
            top: -1px;
</style>
