<template>
  <div class="PropagationSettings">

    <p class="title-one">Zacílení krajů</p>
    <SettingsMap v-model="regions"></SettingsMap>

    <p class="title-two">Dny propagace</p>
    <SettingsCalendar v-model="dates"></SettingsCalendar>

    <div class="text-center">
      <button type="button" class="btn btn-primary" @click="onNext">
        Pokračovat
      </button>
    </div>
  </div>
</template>

<script>
  import SettingsMap from './Settings/Map.vue'
  import SettingsCalendar from './Settings/Calendar.vue'

  export default {
    components: {
      SettingsMap,
      SettingsCalendar
    },
    props: ['event'],
    data () {
      return {
        regions: [],
        dates: [],
      }
    },
    computed: {
      //
    },
    methods: {
      onNext () {
        this.$emit('next', {
          regions: this.regions,
          dates: this.dates
        })
      }
    }
  }
</script>

<style lang="stylus">
  .PropagationSettings
    margin-top 30px
    .title-two
    .title-one
      text-align center
      font-weight 600
      color: #757575;
      margin-bottom: 30px
      font-size 16px
    .title-two
      margin-bottom: 20px
</style>
