<template>
<div aria-labelledby="myModalLabel" class="PropagationModal modal fade" id="PropagationModal" role="dialog" tabindex="-1">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header btnred">
        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title" id="gridSystemModalLabel">
          Propagace
          <i class="fa fa-bullhorn"></i>
        </h4>
      </div>
      <div class="modal-body model-confirm">
        <div class="row">
          <div class="col-md-4 col-md-offset-4 col-sm-6 text-center">
            <div class="modal-logo">
              <img src="/img/modal-logo.jpg">
            </div>
          </div>
          <div class="row col-sm-12">
            <div class="Navigation col-md-10 col-md-offset-1 col-sm-6">
              <button :class="['Navigation__button', { 'Navigation__button--active': step === 1 }]">
                Nastavení
              </button>
              <button :class="['Navigation__button', { 'Navigation__button--active': step === 2 }]">
                Kalkulace
              </button>
              <button :class="['Navigation__button', { 'Navigation__button--active': step === 3 }]">
                Platbla
              </button>
              <button :class="['Navigation__button', { 'Navigation__button--active': step === 4 }]">
                Potvrzení
              </button>
            </div>
          </div>
          <div class="row col-sm-12">
            <div class="col-md-10 col-md-offset-1 col-sm-6">
              <PMSettings v-if="step === 1" @next="stepOne" />
              <PMPlacement
                v-if="step === 2"
                :event="event"
                :propsRegions="regions"
                :reservedRegions="reservedRegions"
                :month="month"
                @next="stepTwo"
              />
              <PMComplete
                v-if="step === 4"
                :event="event"
                :propsRegions="selected"
                @next="stepFour"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</template>

<script>
  import PMSettings from './PMSettings.vue'
  import PMPlacement from './PMPlacement.vue'
  import PMComplete from './PMComplete.vue'

  export default {
    components: {
      PMSettings,
      PMPlacement,
      PMComplete
    },
    props: ['event'],
    data () {
      return {
        step: 1,
        month: -1,
        selected: [],
        regions: [],
        reservedRegions: []
      }
    },
    methods: {
      stepOne (data) {
        let regions = data.regions.map(([region_code, region]) => {
          return {
            region_code,
            region,
            dates: data.dates
          }
        })

        this.month = moment(_.first(data.dates)).month()

        let reqData = {
          regions: data.regions.map(([region,]) => region),
          month: this.month + 1
        }

        axios.post('propagations/available', reqData).then((res) => {
          this.reservedRegions = res.data.data

          regions = regions.map((item) => {
            item.dates = item.dates.map((date) => {
              return {
                date,
                typeOneAvailable: this.isAvailable(1, date, item.region_code),
                // typeOneDateOption: this.getNewDate(1, date, item.region_code),
                typeTwoAvailable: this.isAvailable(2, date, item.region_code),
                // typeTwoDateOption: this.getNewDate(2, date, item.region_code)
              }
            })

            return item
          })

          this.regions = regions
          this.step = 2
        })
      },
      isAvailable (type, date, region_code) {
        const item = _.get(this.reservedRegions, date+'.'+region_code+'.'+type)

        return !item || (type === 2 && item.length < 3)
      },
      stepTwo (selected) {
        this.selected = selected
        const data = {
          event_id: this.event.id,
          selected
        }

        axios.post('propagations', data).then((res) => {
          this.step = 4
        })
      },
      stepFour () {
        $('.PropagationModal .close').click()
        this.step = 1
      },
      // getNewDate (type, date, region_code) {
      //   // should work, but one never know
      //   if (!this.isAvailable(type, date, region_code)) {
      //     date = moment(date)
      //     const days = date.clone().endOf('month').date()
      //     let turn = 1
      //     let up = days - date.date()
      //     let down = date.date() - 1
      //     let newDate = date

      //     for (let i=1;i<=days-1;) {
      //       newDate = newDate.add(i * turn, 'd')
      //       if (this.isAvailable(type, newDate.format('YYYY-MM-DD'), region_code)) {
      //         return newDate.format('YYYY-MM-DD')
      //       }

      //       if (turn === 1 && up !== 0) {
      //         turn = -1
      //         up--
      //         if (down !== 0)
      //           i++
      //       } else if (down !== 0) {
      //         turn = 1
      //         down--
      //         i++
      //       } else {
      //         break
      //       }
      //     }
      //   }

      //   return null
      // },
    }
  }
</script>

<style lang="stylus">
  .PropagationModal
    &__footer
      width 100%
      text-align center
      color #ce3295
      margin-top 15px
    .btn-primary
      padding 10px 28px
      font-weight 600
    .Navigation
      display flex
      justify-content center
      padding 0
      margin-bottom 15px
      border 1px solid #ce3295
      &__button
        text-align center
        width 25%
        background transparent
        border 0
        color #ce3295
        padding 4px 5px
        position relative
        &:after, &:before
          left: 100%;
          top: 50%;
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-copyEvents: none;
          z-index 999
        &:after
          border-color: rgba(206, 50, 149, 0);
          border-left-color: #fff;
          border-width: 14px;
          margin-top: -14px;
        &:before
          border-color: rgba(122, 120, 120, 0);
          border-left-color: #ce3295;
          border-width: 15px;
          margin-top: -15px;
        &--active
          background #ce3295
          color white
          &:after
            border-color: rgba(206, 50, 149, 0);
            border-left-color: #ce3295;
</style>
