<template>
  <div class="PropagationSettingsCalendar">
    <div class="Calendar col-sm-10 col-md-8">
      <div class="Calendar__toolbar">
        <div class="toolbar-arrow" @click="onPrev">
          <span class="glyphicon glyphicon-arrow-left"></span>
        </div>
        <div class="toolbar-month">{{ monthName }}</div>
        <div class="toolbar-arrow" @click="onNext">
          <span class="glyphicon glyphicon-arrow-right"></span>
        </div>
      </div>
      <table class="Calendar__table" cellspacing="0">
        <tr v-for="(row, i) in calendar" :key="i" class="Calendar__row">
          <td v-for="(date, y) in row" :key="y" class="Calendar__day" @click="select(date)" :class="{ 'Calendar__day--active': isSelected(date) }">
            <p class="Calendar__day-date" v-if="date">{{ date.date }}</p>
            <p class="Calendar__day-name" v-if="date">{{ date.name }}</p>
          </td>
        </tr>
      </table>
    </div>
  </div>
</template>

<script>
  export default {
    props: ['value'],
    data () {
      return {
        calendar: [],
        selected: [],
        month: moment().month()
      }
    },
    created () {
      this.build()
    },
    computed: {
      monthName () {
        return moment().month(this.month).format('MMMM')
      }
    },
    watch: {
      month (oldM, newM) {
        this.selected = []
        this.build()
      }
    },
    methods: {
      onPrev () {
        this.month = this.month === 0 ? 11 : this.month - 1
      },
      onNext () {
        this.month = this.month === 11 ? 0 : this.month + 1
      },
      select (date) {
        if (date) {
          const index = this.selected.indexOf(date.day)
          if (index > -1) {
            this.selected.splice(index, 1)
          } else {
            if (this.selected.length === 7) return
            this.selected.push(date.day)
          }

          this.$emit('input', this.selected)
        }
      },
      isSelected (date) {
        return date && this.selected.indexOf(date.day) > -1
      },
      build () {
        this.calendar = []
        let calendarRow = []
        const month = moment().month(this.month).startOf('month')
        const days = month.endOf('month').date()

        for(let day = 1; day <= 40; day++) {
          if (day <= days) {
            calendarRow.push({
              day: month.date(day).format('YYYY-MM-DD'),
              date: month.date(day).format('DD'),
              name: month.date(day).format('dd')
            })
          } else calendarRow.push(null)

          if (day === 10 * (this.calendar.length + 1)) {
            this.calendar.push(calendarRow)
            calendarRow = []
          }
        }
      }
    },
  }
</script>

<style lang="stylus">
  .PropagationSettingsCalendar
    .Calendar
      float none
      margin 0 auto
      margin-bottom 40px
      &__toolbar
        width 100%
        color #c1047c
        display flex
        margin-bottom 10px
        .toolbar-arrow
          flex 0
          padding 3px 5px
          transition: all 0.1s ease;
          cursor pointer
          border-radius 3px
          width 24px
          height 24px
          &:hover
            color white
            background #c1047c
        .toolbar-month
          flex 1
          text-align center
          text-transform capitalize
          font-weight bold
          font-size 13px
      &__table
        width 100%
        border-collapse: separate;
      &__row
        &:first-child td
          border-top 1px solid #c1047c
        td:first-child
          border-left 1px solid #c1047c
        &:first-child td:first-child
          border-top-left-radius 10px
        &:first-child td:last-child
          border-top-right-radius 10px
        &:last-child td:first-child
          border-bottom-left-radius 10px
        &:last-child td:last-child
          border-bottom-right-radius 10px
      &__day
        padding 6px 10px
        text-align center
        color #c1047c
        border-bottom 1px solid #c1047c
        border-right 1px solid #c1047c
        vertical-align middle
        line-height: 1;
        height: 40px
        cursor pointer
        transition all .06s ease-in-out
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        &:hover
          background alpha(#c1047c, 10%)
        &--active
          color white !important
          background #c1047c !important
        &-date
          font-weight bold
          margin-bottom 4px
        &-name
          font-size 10px
          margin 0
          text-transform capitalize
</style>
