<template>
  <div class="PropagationSettingsMap">
    <div id="czechMapPropagation" data-image="img/czechRepublicLow.svg"></div>
    <p class="regions-line" v-html="allRegions"></p>
  </div>
</template>

<script>
  // import regions from './codes.js'

  export default {
    props: ['value'],
    data () {
      return {
        map: null,
        regions: []
      }
    },
    computed: {
      allRegions () {
        return this.regions.map(([,r]) => r.replace(' kraj', '')).join(' &#8226; ')
      }
    },
    created () {
      const self = this
      $(function() {
        self.map = AmCharts.makeChart('czechMapPropagation', {
          type: 'map',
          dragMap: false,
          zoomOnDoubleClick: false,
          dataProvider: {
            mapURL: $('#czechMapPropagation').data('image'),
            getAreasFromMap: true
          },
          areasSettings: {
            autoZoom: false,
            color: '#CDCDCD',
            colorSolid: '#5EB7DE',
            selectedColor: '#c1047c',
            outlineColor: '#666666',
            rollOverColor: '#88CAE7',
            rollOverOutlineColor: '#FFFFFF',
            selectable: true
          },
          zoomControl: {
            zoomControlEnabled: false,
            homeButtonEnabled: false
          },
          listeners: [
            {
              event: 'clickMapObject',
              method(e) {
                // deselect the area by assigning all of the dataProvider as selected object
                self.map.selectedObject = self.map.dataProvider;

                $('#'+e.mapObject.id).toggleClass('higligt-map');
                // make local selection
                // self.addRegion(e.mapObject.title)
                self.addRegion([e.mapObject.id, e.mapObject.title])
                // toggle showAsSelected
                e.mapObject.showAsSelected = !e.mapObject.showAsSelected;
                // bring it to an appropriate color
                self.map.returnInitialColor(e.mapObject);
              }
            }
          ]
        })
      })
    },
    methods: {
      reset () {
        this.selected = []
      },
      addRegion (region) {
        const exists = this.regions.filter(([r]) => r === region[0]).length > 0

        if (exists) {
          this.regions = this.regions.filter(([r]) => r !== region[0])
        } else {
          this.regions.push(region)
        }

        this.$emit('input', this.regions)
      }
    }
  }
</script>

<style lang="stylus">
  .PropagationSettingsMap
    #czechMapPropagation
      height 180px
    .regions-line
      font-weight bold
      color #c1047c
      text-align center
      margin-top 25px
      margin-bottom: 25px
</style>
