<template>
  <div class="PropagationPlacementCalendar">
    <div class="Calendar">
      <table class="Calendar__table">
        <tr v-for="(row, i) in calendar" :key="i" class="Calendar__row">
          <td
            v-for="(date, y) in row"
            :key="y"
            class="Calendar__day"
            :class="{
              'Calendar__day--active': isSelected(date),
              'Calendar__day--reserved': date && isReserved(date)
            }"
            @click="onSelect(date)"
          >
            <div class="Calendar__day-inner">
              <p class="Calendar__day-date" v-if="date">{{ date.date }}</p>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</template>

<script>
  export default {
    props: ['selected', 'month', 'reservedRegions'],
    data () {
      return {
        calendar: [],
        dates: [],
      }
    },
    computed: {
      monthName () {
        return moment().month(this.month).format('MMMM')
      }
    },
    created () {
      this.build()
      this.dates = this.selected.dates
    },
    methods: {
      onSelect (date) {
        if (!date || this.isReserved(date)) {
          return
        }

        const index = this.dates.indexOf(date.day)
        if (index > -1) {
          this.dates.splice(index, 1)
        } else {
          if (this.dates.length === 7) return
          this.dates.push(date.day)
        }

        this.$emit('input', this.dates)
      },
      isSelected (date) {
        return date && this.selected.dates.indexOf(date.day) > -1
      },
      isReserved (date) {
        const item = _.get(
          this.reservedRegions,
          date.day+'.'+this.selected.region_code+'.'+this.selected.type
        )

        if (item && this.selected.type === 2) {
          return item.length >= 3
        }

        return item
      },
      build () {
        this.calendar = []
        let calendarRow = []
        const month = moment().month(this.month).startOf('month')
        const days = month.endOf('month').date()

        for(let day = 1; day <= 40; day++) {
          if (day <= days) {
            calendarRow.push({
              day: month.date(day).format('YYYY-MM-DD'),
              date: month.date(day).format('DD'),
            })
          } else calendarRow.push(null)

          if (day === 10 * (this.calendar.length + 1)) {
            this.calendar.push(calendarRow)
            calendarRow = []
          }
        }
      }
    },
  }
</script>

<style lang="stylus">
  .PropagationPlacementCalendar
    .Calendar
      border 2px solid #c1047c
      border-radius 10px
      width: 242px;
      padding 5px
      position: absolute;
      background: white;
      &:after, &:before
        bottom: 100%;
        left: 15%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      &:after
        border-color: rgba(255, 255, 255, 0);
        border-bottom-color: #ffffff;
        border-width: 5px;
        margin-left: -5px;
      &:before
        border-color: rgba(193, 4, 124, 0);
        border-bottom-color: #c1047c;
        border-width: 8px;
        margin-left: -8px;
      &__table
        width 100%
        border-collapse: separate;
      &__day
        padding 1px 2px
        text-align center
        color #444
        vertical-align middle
        line-height: 1;
        height: 18px
        cursor pointer
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        &:hover
          .Calendar__day-inner
            background alpha(#aaa, 10%)
        &-inner
          border-radius 2px
          transition all .06s ease-in-out
          padding 2px 2px
        &--reserved
          color red !important
          &:hover .Calendar__day-inner
            background white !important
            cursor: no-drop;
        &--active
          color white !important
          .Calendar__day-inner
            background #c1047c !important
        &-date
          font-weight 600
          margin-bottom 0px
</style>
