<template>
  <div class="Preview">
    <h4 class="Preview__title">Jak bude propagace vypdat?</h4>
    <div class="Preview__first">
      <div class="Preview__first-title-wrap">
        <h3 class="Preview__first-title">{{ event.title }}</h3>
      </div>
      <div class="Preview__first-place">
        <h5 class="Preview__first-place-text">1.Pozice</h5>
      </div>
      <p class="Preview__first-description">{{ event.short_description }}</p>
    </div>
    <ul class="Preview__sublist">
      <li class="Preview__item" v-for="i in 3">
        <div class="Preview__item-place">
          <h6 class="Preview__item-place-text">{{ i + 1 }}.Pozice</h6>
        </div>
        <div class="Preview__item-description-wrap">
          <p class="Preview__item-description">{{ event.short_description }}</p>
        </div>
        <div class="clearfix"></div>
      </li>
    </ul>
  </div>
</template>

<script>
  export default {
    props: ['event']
  }
</script>

<style lang="stylus">
  .Preview
    position relative
    border-radius 8px
    border 2px solid #c1047c
    padding 5px
    width: 186px;
    padding-bottom: 0
    margin-top: 75px;
    &:after, &:before
      right: 100%;
      top: 6%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    &:after
      border-color: rgba(193, 4, 124, 0);
      border-right-color: #fff;
      border-width: 8px;
      margin-top: -8px;
    &:before
      border-color: rgba(255, 255, 255, 0);
      border-right-color: #c1047c;
      border-width: 11px;
      margin-top: -11px;
    &__title
      color #c1047c
      font-weight 600
      font-size: 14px;
      margin-top: 0
      margin-bottom: 10px
      margin-top: 5px
    &__first
      margin-bottom 5px
      &-title
        font-weight 600
        color white
        font-size 15px
        margin 0
        &-wrap
          background #e25a23
          text-align center
          vertical-align middle
          padding 14px 0
          border-top-left-radius 5px
          border-top-right-radius 5px
      &-place
        text-align center
        vertical-align middle
        background #f1f1f1
        padding 30px 30px
        margin-bottom 3px
        &-text
          font-weight: 600;
          font-size: 16px;
          color: #c1047c;
      &-description
        font-size: 13px
        line-height: 1.1;
        color #e25a23
        height: 29px;
        overflow: hidden;
    &__sublist
      list-style none
      padding 0
    &__item
      margin-bottom 6px
      &-place
        text-align center
        vertical-align middle
        width: 75px;
        height: 50px;
        background: #f1f1f1
        float left
        padding: 8px 0;
        &-text
          color #c1047c
          font-weight bold
      &-description
        color #e25a23
        line-height: 1;
        font-size: 13px
        margin 0
        height: 53px;
        overflow: hidden;
        &-wrap
          float left
          padding: 0 4px;
          width: 97px;
          vertical-align middle
</style>
